<body>
<div id="principal">
  <div id="container">
    <form>
      <label>Username</label> <br>
      <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required ><br>
      <label>Password</label> <br>
      <input type="password" placeholder="Entrer le mot de passe" name="password" required ><br>
      <input type="submit" id="submit" value='Se connecter'>
      <a  href="https://www.google.com/" target="_blank">Vous etes nouveau sur Yourschool?Inscrivez-vous</a>
    </form>
  </div>
</div>
</body>
